@font-face {
    font-family: 'Hk Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Jost-Regular.ttf') format('woff');
}
*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --black : #000;
    --white: #f0e9f2;
    --white-1: #b2b2b2da;
    --red: rgb(255, 50, 88);
    --fontSize-huge:4rem;
    --fontSize-large:3rem;
    --fontSize-medium:2.2rem;
    --fontSize-small:1.8rem;
    --fontSize-small-1:1.5rem;
    --fontSize-small-2:1.2rem;
     
    --padding:3em 10em;
    --padding-1400:2em 5em;
    --padding-1000:1em 0;
}
body{
  background: var(--black);
  color: var(--white-1);
  font-family: 'Hk Grotesk', sans-serif;
}
a{
    text-decoration: none;
    color: var(--white);
    font-size: var(--fontSize-small);
}
h1{
    font-size: var(--fontSize-large);
    color: var(--white);
}
p{
    font-size: var(--fontSize-medium);
    color: var(--white-1);
}
.hr{
    width: 100%;
    height: 1px;
    /* background-color: var(--white-1); */
    border: 1px solid rgb(194, 194, 194,0.1);
}
@media(max-width:1400px){
    a{font-size: var(--fontSize-small-1);}
    h1{font-size: var(--fontSize-medium);}
    p{font-size: var(--fontSize-small);}
}
@media(max-width:1000px){
    a{font-size: var(--fontSize-small-2);}
    h1{font-size: var(--fontSize-small);}
    p{font-size: var(--fontSize-small-1);}
}
     /*///////////////
     //// HEADER ///
     /////////////*/
          
     /* NAV  */
header{
        position: relative;
        width: 100%;
        height: 100vh;
        background:linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, .4)), url(./images/sfondo.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        padding: var(--padding);
    }
    /* ////ICON BIG  ////*/
.section-icon{
    background-color: transparent;
    display: grid;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(2 , 150px);
    align-items: center;
    border-radius: none;
    position: absolute;
    top: 26%;
    right: 30%;
    transition: all 3s;   
}

body.loaded .section-icon{
    background-color: var(--red);
    border-radius: 50%;
}
.section-icon > div{
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.section-icon > div > i{
    font-size: 3.5rem;
} 
@media(max-width:1800px){
    .section-icon{right: 20%;}
}
@media(max-width:1500px){
    .section-icon{
        grid-auto-rows: 140px;
        grid-template-columns: repeat(2 , 140px);}
}
@media(max-width:1400px){
    .section-icon > div > i{
        font-size: 3rem;
    }
}
@media(max-width:1400px){
    .section-icon {
       right: 10%;
    }
}

  /* HTML ICON  */
.icon-first{
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 50%;   
    transition: all 6s;
}
body.loaded .icon-first{
    border-bottom: 2px solid var(--white);
    border-right: 2px solid var(--white);
}
@media(max-width:1000px){
    .section-icon {
       display: none;      
    }
}
.icon-first > .one{
    position: absolute;
    bottom: 30px;
    right: 30px;
    transition: all 1.5s;
    transform: translateX(-1000%) translateY(-1000%);
}
body.loaded .icon-first > i {
    transform: translateX(0%) translateY(0%)
}
   /* CSS ICON  BIG */
.icon-second{
    border-bottom: none ;  
    transition: all 6s;  
}
body.loaded .icon-second{
    border-bottom: 2px solid var(--white) ;    
}
.icon-second > .two{
    position: absolute;
    left: 30px;
    bottom: 30px;
    transform: translateX(1000%) translateY(-1000%);
    transition: all 2.5s;
}
body.loaded .icon-second > i{
    transform: translateX(0%) translateY(0%);
} 
    /* JAVASCRIPT ICON  */
.icon-third{
    border-right: none;
    transition: all 6s; 
}
body.loaded .icon-third{
    border-right: 2px solid var(--white-1)
}
.icon-third > .three {
    position: absolute;
    top: 30px;
    right: 30px;
    transform: translateX(-1000%) translateY(1000%);
    transition: all 3s;
}
body.loaded .icon-third > i{
    transform: translateX(0%) translateY(0%);
}
   /* ICON REACT  */
.icon-four > .four {
    position: absolute;
    top: 30px;
    left: 30px;
    transform: translateX(1000%) translateY(1000%);
    transition: all 3.5s;
}
body.loaded .icon-four > i {
    transform: translateX(0) translateY(0);
}
   /*//// ICON SMALL////  */
   .section-icon-small{
    display: none;
   }
@media(max-width:1000px){
    .section-icon-small{
        display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    margin: 10em auto 0 auto;
    }
}
@media(max-width:600px){
    .section-icon-small{
    width: 80%;
    }
}
@media(max-width:500px){
    .section-icon-small{
    width: 95%;
    }.small{
        font-size: 2.5rem;
    }
}
.small{
    position: relative;
    font-size: 3rem;

}
.nav-row{
  width: 40%;
  margin-right: 0;
  margin-left: auto;
    }
   
.ul-nav{
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.li-nav{
   list-style: none;
   transition: all .2s;
   border-bottom: 2px solid transparent;
   padding-bottom: 0.6rem;
   position: relative;
}

.a-nav{
    transition: all .2s;
    border-bottom: 2px solid transparent;
    padding-bottom: 0.6rem;
}
.a-nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--white);
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.a-nav:hover {
    color: var(--red);
}

.a-nav:hover::after {
    right: 0;
    height: 2px;
    background: var(--red);
} 
      /* Nome e contatto header  */
.header-ctn{
    position: absolute;
    top: 25%;
}
.name-h1{
    margin-bottom: 1.3em;
    font-size: var(--fontSize-huge);
}


.paragraph-name{
    margin-bottom: 1.1em;
}
.a-name{
    font-size: var(--fontSize-small);
    padding:.5em 1em;
    background-color: var(--red);
    color: var(--white);
    border: 2px solid transparent;
    transition: all .3s;
}
.a-name:hover{
    background-color: transparent;
    border:2px solid var(--red);
}
@media(max-width:1400px){
    header{
        padding:var(--padding-1400) ;
    }.nav-row{
        width: 45%;
    }.name-h1{
        font-size: var(--fontSize-large);
    }
}

@media(max-width:1000px){
    header{
        padding: var(--padding-1000);
    }.nav-row{width: 100%;
              padding:1em 0;}
    .ul-ctn{
        width: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        padding:0;
    }li{
        margin: 0 1em;
    }
    .header-ctn{
        width: 100%;
        margin-left:auto ;
        margin-right:auto ;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 35%;
    }.a-name{
        width: 250px;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
}
   /*//////////////
   /// WORK  /////
   /////////////*/
.section-work{
    padding: var(--padding);
    margin-top: 5em;
    margin-bottom: 2em;
}

.work-section{
    font-size: var(--fontSize-huge);
}
.work-section::after{
    content: '';
    display: block;
    width: 2.5em;
    height: 2px;
    background-color: var(--red);
    margin: .5em  0 1.5em 0;
}

.my-work{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10em;
}
.my-work-description{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.work-title{
    font-size: var(--fontSize-large);
    color: var(--white);
    margin-bottom: 0.8em;
}
.description{
    font-size: var(--fontSize-small-1);
    color: var(--white-1);
    margin-bottom: 1.5em;
}

.ul-work{
    margin-bottom: 1.5em;
    margin-left:-1em;
    font-size: var(--fontSize-small-2);
}
.link-ctn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.visit-site{
    position: relative;
    z-index: 1;
    padding: .6rem;
    border-bottom:1px solid var(--red);
    font-size: var(--fontSize-small-1);
   
}

.visit-site::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: transparent;
    height: 100%;
    z-index: -1;
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}
.visit-site:hover::after ,
.visit-site:focus::after{
    right: 0;
    height: 100%;
    background-color: var(--red);
}
.github{
    width: 35px;
    height: 35px;
    border: 2px solid #FFF;
    margin-left: 2em;
    margin-top: 0.4em;
    border-radius: 50px;
    background-color: #FFF;
    transition: all .5s;
}
.github:hover{
    transform: scale(1.1);
}
.my-rent-img{
    width: 50%;
    
}
.my-rent-img > a > img{
    width: 100%;
    margin-top: 3em;
    transition: all 1s;
}
.my-rent-img > a > img:hover{
    transform: scale(1.1);
}
@media(max-width:1400px){
    .section-work{
        padding: 0.8em 0.8em;
        margin-bottom: 1em;
    }.work-section{
        font-size: var(--fontSize-large);
    }.work-title{
        font-size:var(--fontSize-medium);
    }.description{
        font-size: var(--fontSize-small-2);
    }.ul-work{
        font-size: 1rem;
    }.my-rent-img{
        width: 60%;
        overflow: hidden;        
    }.my-rent-img > a {
        overflow: hidden;
    }
    .my-rent-img > a > img{
        margin-top: 1em;
        transition: 0.5s ease-in-out;
    }.last{
        margin-bottom: 4em;
    }
}
@media(max-width:800px){
    .section-work{
        padding: 0.8em 0.8em;       
    }.my-work{
        align-items: initial;
        flex-direction: column-reverse;
        margin-bottom: 1.5em;
    }.my-work-description{
        width: 100%;
    }.my-rent-img{
        width: 100%;
        overflow: hidden;        
    }.my-rent-img > a {
        overflow: hidden;
    }
    .my-rent-img > a > img{
        margin-top: 1em;
        transition: 0.5s ease-in-out;
    }
}

    /*////////////////// 
    //// ABOUT ME ///*/
    /* ///////////// */
    .section-about{
        margin-top: 5em;
        padding: var(--padding);
        margin-bottom: 5em;
    }
   
.about-title{
    font-size: var(--fontSize-huge);
}
.about-title::after{
    content: '';
    display: block;
    width: 2.5em;
    height: 2px;
    background-color: var(--red);
    margin: .5em  0 1em 0;
}
.about-flex{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.about-img-ctn{
    width: 50%;
    height: 100%;
}
.about-img-ctn > img{
    width: 100%;
    height: 100%;
}
.description-about-ctn{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.about-description-span{
    font-size: var(--fontSize-small-1);
}

.about-description{
    font-size: var(--fontSize-small-1);
    line-height: 1.4em;
    margin-bottom: 2em;
}

.about-contact{    
    text-align: center;
    border: 1px solid var(--red);
    padding: .5em 0em;
    width: 250px;
    position: relative;
}

.about-contact:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    height: 100%;
    background-color: var(--white);
    transition: all .3s cubic-bezier(1, 0.68, 0.16, 0.9);
}
.about-contact:hover::before{
    z-index: -1;
    right: 0;
    background-color: var(--red);
}
@media(max-width:1400px){
    .section-about{
        padding: 0.8em 0.8em;
        margin-top: 2em;
    }.about-title{
        font-size: var(--fontSize-large);
    }
    .description-about-ctn{
        width: 48%
    }
    .about-description{
        font-size: var(--fontSize-small-2);
       
    }
}
@media(max-width:800px){
    .section-about{
       padding: 0.8em 0.8em;
    }.about-title{
        font-size: var(--fontSize-medium);
    }.about-flex{
        display: flex;
        flex-direction: column;
        width: 100%;
    }.about-img-ctn{
        width: 95%;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: .5em;
    }.description-about-ctn{
        width: 100%;
    }.about-contact{
        align-self: center;
    }.about-description{
        text-align: center;
    }
}
        /*/////////////// 
        //////CONTACT////
        ////////////// */
.contact-scetion{
    padding: var(--padding);
    margin-top: 5em;
    margin-bottom: 5em;
}
.contact-title{
    font-size: var(--fontSize-large);
}
.contact-title::after{
    content: '';
    display: block;
    width: 2.5em;
    height: 2px;
    background-color: var(--red);
    margin: .5em  0 1.5em 0;
}
.contact-description{
    font-size: var(--fontSize-small-1);
    line-height: 1.3em;
    margin-bottom: 2em;
    margin-top: -1em;
}
.email-ctn{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
}
@media(max-width:1400px){
    .contact-scetion{
        padding: .8em .8em;
        margin-top: 2em;
    }.contact-title{
        font-size: var(--fontSize-medium);
    }.contact-description{
        font-size: var(--fontSize-small-2);
    }
}

.email{ text-align: center;
    border: 1px solid var(--red);
    padding: .5em 0em;
    width: 250px;
    position: relative;
}
.email::before{
        content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    height: 100%;
    background-color: var(--white);
    transition: all .3s cubic-bezier(1, 0.68, 0.16, 0.9);
    z-index: -1;
    }
.email:hover::before{
    right: 0;
    background-color: var(--red);
}
.number{
    color: var(--white);
}
@media(max-width:800px){
    .email-ctn{
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }.email{
        width : 180px
    }.number{
        font-size: var(--fontSize-small-1);
    }
}
@media(max-width:500px){
    .email-ctn{
        flex-direction: column;
    }
    .number{
        font-size: var(--fontSize-small-2);
        margin-top: 1.5em;
    }
}
   /* FOOTER  */
footer{
    margin-top: 5em;
    padding-bottom: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}
.github-footer , .linkedin{
    width: 70px;
    height: 70px;
    background-color: var(--white);
    border-radius: 50%;
    border: 2px solid #FFF;

}
.back-top{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: var(--red);
    border-radius: 50%;
    z-index: 10;
    visibility: hidden;
    transition: all .4s;
}
.top {
    width: 70%;
    height: 70%;
}
@media(max-width:1400px){
    footer{
        width: 20%;
        margin-top: 2em;
    padding-bottom: 2em;
    }.back-top{
        height: 3rem;
    width: 3rem;
    right: 2em;
    }
}
@media(max-width:1000px){
    footer{
        width: 25%;
        margin-top: 2em;
    padding-bottom: 2em;
    }
}
@media(max-width:800px){
    footer{
        width: 25%;
        margin-top: 2em;
    padding-bottom: 2em;
    }.github-footer , .linkedin{
        width: 50px;
        height: 50px;
        background-color: var(--white);
        border-radius: 50%;
        border: 2px solid #FFF;
    
    }
}
@media(max-width:600px){
    .back-top{
        right: 1em;
    }
}
@media(max-width:550px){
    footer{width: 40%;}
}